 * {
   font-family: "Roboto", sans-serif;
   font-style: 200;
   letter-spacing: 0.5px;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 :root {
   --sidebarbg: #7477fb;
   --board-banner: #e8e8ea;
   --nav-btn: #5b5555;
   --txt-color: #fff;
   --sidebar_bg: #141418;
   --bg-primary: #23232e;
   --bg-secondary: #141418;
 }

 /* Sidebar */
 .sidebar {
   background-color: var(--sidebar_bg);
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 55px;
   transition: width .3s ease-in-out;
   z-index: 9999;
   color: white;
 }

 .sidebar:hover {
   width: 250px;
   transition: all 0.5s ease-in-out;
 }

 .sidebar:hover .icon-name {
   display: block;
   border: none;
   outline: none;
   background-color: inherit;
   cursor: pointer;
 }

 .sidebar:hover .icon:hover {
   background-color: black;
   padding: 11px 0px;
 }

 .icon .logo-icon-container:hover #slider-logo {
   filter: brightness(1);
 }

 .sidebar:hover #slider-logo {
   display: flex;
   width: 60px;
   height: 60px;
   padding: 0px;
   filter: brightness(0.4);
   transition: all 0.5s ease-in-out;

 }

 .sidebar:hover #left-arrow {
   transform: rotate(180deg);
   transition: all 0.5s ease-in-out;

 }

 .sidebar:hover .logo-icon-container {
   padding: 0px 20px 0px 5px;
   transition: all 0.5s ease-in-out;

 }

 .sidebar-icons {
   display: flex;
   flex-direction: column;
   /* gap: 10px; */
   height: 100%;
   width: 100%;
   cursor: pointer;
 }

 .icon {
   /* background-color: #9fcec3; */
   width: 100%;
   display: flex;
   align-items: center;
   padding: 10px 0;
   height: 75px;
   margin-bottom: 10px
 }

 .logo-icon-container {
   display: flex;
   align-items: center;
   width: 100%;
   padding: 0px 7px;
   justify-content: space-between;
   background-color: black;
   height: 90px;
 }

 .logo-icon-container>img {
   width: 30px;
   height: 40px;
 }

 #slider-logo {
   display: none;
 }

 .icon-container {
   display: flex;
   padding: 5px 0 0 10px;
   justify-content: center;
   align-items: center;
   gap: 10px
 }

 .icon-name {
   display: none;
 }

 .sidebar:hover .icon-name {
   display: block;
   border: none;
   outline: none;
   color: var(--txt-color);
   background-color: inherit;
   cursor: pointer;
 }

 /* Main */
 .main {
   margin-left: 40px;
   padding: 0px 30px;
   min-height: 100vh;
   position: relative;
 }

 .navbar {
   display: flex;
   flex-direction: column;
   height: auto;
   width: 100%;
   padding: 1.5vw 1vw 1.1vw 0.5vw;
 }

 .nav-content {
   display: flex;
   justify-content: space-between;
   background-color: var(--nav-content);

 }

 .nav-logo {
   display: inline;
 }

 .git-btn {
   display: inline-block;
   background-color: #333333;
   color: #ffffff;
   font-size: 15px;
   font-weight: 500;
   text-decoration: none;
   padding: 12px 24px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }

 .git-btn a {
   color: inherit;
   text-decoration: none;
 }

 .git-btn:hover {
   background-color: #555555;
 }

 .logo-txt {
   font-size: 25px;
   font-weight: 700;
 }

 .title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.3vw 0px 0.5vw 0px;
   font-weight: 800;
 }

 .search-container {
   display: flex;
   align-items: center;
   width: 100%;
   padding: 1vw 0px;
   gap: 1.7vw;
 }

 .search {
   position: relative;
   font-size: 18px
 }

 .img-icon-search {
   position: absolute;
   top: 8px;
   left: 8px;
   width: 22px;
   height: 22px;
 }

 span input {
   width: 16vw;
   padding: 9px 10px 10px 37px;
 }

 .icons {
   display: flex;
   gap: 4px;
 }

 .navbar .icons img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   object-fit: cover;
   cursor: pointer;
   margin-left: 5px;
 }

 .navbar .small-titles .btn {
   font-size: 18px;
   background-color: none;
   border: none;
   outline: none;
   color: var(--nav-btn);
   padding: 10px 20px;
   border-radius: 10px;
   margin-left: 20px;
   cursor: pointer;
 }

 /* Board Container */
 .board-container {
   display: flex;
   margin-top: 20px;

 }

 /* Board Banners */
 .board-banners {
   display: flex;
   flex-direction: column;
   width: 380px;
   background-color: var(--board-banner);
   padding: 10px;
   margin-left: 20px;
   margin-bottom: 20px;
 }

 .board-banners-heading {
   display: flex;
   align-items: center;
 }

 .board-banners-heading h3 {
   margin: 0;
   color: gray;
   padding: 0 10px;
 }

 .board-banners-heading img {
   width: 20px;
   height: 20px;
   margin-right: 11px;
 }

 .createdCard {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   padding: 10px;
 }

 .chips {
   width: 400px;
   height: 80px;
   background-color: var(--txt-color);
   box-shadow: #0000003d 0 3px 8px;
 }

 .chips .top-bar {
   display: flex;
   justify-content: space-between;
   padding: 8px 10px 2px;
 }

 .chips .middle-bar {
   font-size: 12px;
   padding: 3px 10px 2px 8px;
 }

 .chips .middle-bar h3 {
   font-size: 16px;
   margin-top: 0;
 }

 /* Detail Container */
 .detailContainer {
   width: 80vw;
   height: auto;
   background-color: var(--txt-color);
   box-shadow: #00000040 0 54px 55px, #0000001f 0 -12px 30px, #0000001f 0 4px 6px, #0000002b 0 12px 13px, #00000017 0 -3px 5px;
   margin: 0 auto;
   display: flex;
   padding: 20px;
 }

 .detailContainer .left {
   flex-basis: 40%;
   padding: 10px;
 }

 .detailContainer .left .t {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 16px;
 }

 .detailContainer .left .topBar {
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
 }



 .detailContainer .left .topBar h1 {
   font-size: 24px;
   margin: 0;
 }

 .detailContainer .left .topBar button {
   background-color: #f44336;
   color: var(--txt-color);
   border: none;
   padding: 8px 16px;
   border-radius: 4px;
   font-size: 16px;
   cursor: pointer;
   transition: background-color .3s ease;
 }

 .detailContainer .left .category {
   font-size: 18px;
   margin-bottom: 16px;
 }

 .detailContainer .left .category span {
   font-weight: 700;
   margin-left: 4px;
 }

 .detailContainer .left .category-title {
   background-color: #d32f2fdb;
   color: var(--txt-color);
   padding: 7px 10px;
   margin-left: 2px;
   border-radius: 10px;
 }

 .detailContainer .left .DetailShow {
   background-color: #f7f7f7;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 2px 4px #0000001a;
   margin-bottom: 40px;
 }

 .detailContainer .left .main-heading h1 {
   font-size: 24px;
   margin: 0 0 18px;
 }

 .detailContainer .left .items .row {
   display: flex;
   margin-bottom: 16px;
   font-size: 18px;
 }

 .detailContainer .left .items .label {
   font-weight: 700;
   width: 120px;
 }

 .detailContainer .left .items .value {
   flex-grow: 1;
 }

 .detailContainer .right {
   flex-basis: 60%;
   background-color: #f7f7f7;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 2px 4px #0000001a;
 }

 .detailContainer .right h2 {
   font-size: 24px;
   margin: 0 0 16px;
 }

 .detailContainer .right form {
   margin-top: 16px;
   padding: 10px 20px 20px 10px;
 }

 .detailContainer .form-group {
   margin-bottom: 24px;
 }

 .detailContainer label {
   font-weight: 700;
   display: block;
   margin-bottom: 8px;
   font-size: 17.5px;
 }

 .detailContainer select,
 .detailContainer input[type=text],
 .detailContainer textarea {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
 }

 .detailContainer p {
   font-size: 14px;
   margin-top: 4px;
   color: gray;
 }

 .detailContainer .submit-bt {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .detailContainer .submit-btn {
   margin: auto;
   background-color: var(--sidebarbg);
   color: var(--txt-color);
   border: none;
   padding: 10px 16px;
   width: 150px;
   border-radius: 4px;
   font-size: 16px;
   cursor: pointer;
   transition: background-color .3s ease;
 }

 .detailContainer .submit-btn:hover {
   background-color: #555555;
 }

 /* SignIn & Sign Up */
 .container {
   height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #4361b3;
   column-gap: 30px;
 }

 .form {
   position: absolute;
   max-width: 430px;
   width: 100%;
   padding: 30px;
   border-radius: 6px;
   background: #FFF;
 }

 .form.signup {
   opacity: 0;
   pointer-events: none;
 }

 .forms.show-signup .form.signup {
   opacity: 1;
   pointer-events: auto;
 }

 .forms.show-signup .form.login {
   opacity: 0;
   pointer-events: none;
 }

 h1 {
   font-size: 28px;
   font-weight: 600;
   color: #232836;
   text-align: center;
 }

 form {
   margin-top: 30px;
 }

 .form .field {
   position: relative;
   height: 50px;
   width: 100%;
   margin-top: 20px;
   border-radius: 6px;
 }

 .field input,
 .field button {
   height: 100%;
   width: 100%;
   border: none;
   font-size: 16px;
   font-weight: 400;
   border-radius: 6px;
 }

 .field input {
   outline: none;
   padding: 0 15px;
   border: 1px solid #CACACA;
 }

 .field input:focus {
   border-bottom-width: 2px;
 }

 .field button {
   color: #fff;
   background-color: #0171d3;
   transition: all 0.3s ease;
   cursor: pointer;
 }

 .field button:hover {
   background-color: #016dcb;
 }

 .form-link {
   text-align: center;
   margin-top: 10px;
 }

 .form-link span,
 .form-link a {
   font-size: 14px;
   font-weight: 400;
   color: #232836;
 }

 .form a {
   color: #0171d3;
   text-decoration: none;
 }

 .form-content a:hover {
   text-decoration: underline;
 }